<%- include('partials/header.ejs')%>
    <header class="jumbotron">
        <div class="container">
            <h1>Password</h1>
            <p>Change Your Password</p>
        </div>
    </header>
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4" style=" margin: 25px auto; ">
            <form action="/changepassword" method="POST">
                <div class="form-group">
                    <label>Old Password</label>
                    <input class="form-control" type="password" name="oldpassword" placeholder="Old Password">
                </div>
                <div class="form-group">
                    <label>New Password</label>
                    <input class="form-control" type="password" name="newpassword" placeholder="New Password">
                </div>
                <div class="form-group">
                    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Submit">
                </div>
            </form>
            <a href="/profile">Go Back</a>
        </div>
    </div>
    <%- include('partials/footer.ejs')%>