<%- include('../partials/header.ejs')%>
    <header class="jumbotron">
        <div class="container">
            <h1>Order</h1>
            <p>Send New Order</p>
        </div>
    </header>
    <div class="col-md-12">
        <div class="col-md-4"></div>
        <div class="col-md-4" style=" margin: 25px auto; ">
            <form action="/customer/sold" method="post">
                <div class="form-group">
                    <label for="a">Device </label>
                    <input class="form-control" id="a" type="text" name="device" placeholder="Device">
                </div>
                <div class="form-group">
                    <label for="b">Quantity </label>
                    <input class="form-control" id="b" type="number" name="quantity" placeholder="Quantity">
                </div>
                <button style="width: 100%;" class="btn btn-lg btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <%- include('../partials/footer.ejs')%>